.subscriber-form{
    margin-top: 30;
}

.label-control{
    color: #808080;
    font-size: 1.15rem;
    margin-right: 15;
}

.input-control{
    width: 300;
    min-width: 100;
    padding: 10 15;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5;
    box-sizing: border-box;
    font-size: 0.9rem;
    outline: none;
}

.subscriber-info-container{
    font-size: 1rem;
    margin-right: 10;
    margin-bottom: 20;
}

.subscriber-to-add-heading{
    color: #0a4f75;
    font-weight: 600;
}

.subscriber-info{
    color: #808080;
}